<section class="hero is-light is-small">
  
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        {{ site.title}}
      </p>
<p class="subtitle">
                {{ site.description}}
      </p>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is- is-fullwidth">
      <div class="container">
        <ul>
          <li>
            <a>পরিচয়</a>
          </li>
          <li>
            <a>পত্রিকা</a>
          </li>
          <li>
            <a>সংগ্রহ</a>
          </li>
          <li>
            <a>যোগাযোগ</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>